In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
import numpy as np

In [3]:
dataset=pd.read_csv("original.csv", header=0,delimiter=",")
data=dataset[['age', 'job','marital','education','default','balance','housing','loan','riskclassification']]

In [4]:
print(data)

       age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47          blue   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
5       35    management   married   tertiary      no      231     yes   no
6       28    management    single   tertiary      no      447     yes  yes
7       42  entrepreneur  divorced   tertiary     yes        2     yes   no
8       58       retired   married    primary      no      121     yes   no
9       43    technician    single  secondary      no      593     yes   no
10      41         admin  divorced  secondary      no      270     yes   no
11      29         admin    single  secondary      no      390     yes   no
12      53    technician   married  secondary      no        6     yes   no
13      58    technician   married    unknown      no       71     yes   no
14      57      services   married  secondary      no      162     yes   no
15      51       retired   married    primary      no      229     yes   no
16      45         admin    single    unknown      no       13     yes   no
17      57          blue   married    primary      no       52     yes   no
18      60       retired   married    primary      no       60     yes   no
19      33      services   married  secondary      no        0     yes   no
20      28          blue   married  secondary      no      723     yes  yes
21      56    management   married   tertiary      no      779     yes   no
22      32          blue    single    primary      no       23     yes  yes
23      25      services   married  secondary      no       50     yes   no
24      40       retired   married    primary      no        0     yes  yes
25      44         admin   married  secondary      no     -372     yes   no
26      39    management    single   tertiary      no      255     yes   no
27      52  entrepreneur   married  secondary      no      113     yes  yes
28      46    management    single  secondary      no     -246     yes   no
29      36    technician    single  secondary      no      265     yes  yes
...    ...           ...       ...        ...     ...      ...     ...  ...
45181   46          blue   married  secondary      no     6879      no   no
45182   34    technician   married  secondary      no      133      no   no
45183   70       retired   married    primary      no      324      no   no
45184   63       retired   married  secondary      no     1495      no   no
45185   60      services   married   tertiary      no     4256     yes   no
45186   59       unknown   married    unknown      no     1500      no   no
45187   32      services    single  secondary      no     1168     yes   no
45188   29    management    single  secondary      no      703     yes   no
45189   25      services    single  secondary      no      199      no   no
45190   32          blue   married  secondary      no      136      no   no
45191   75       retired  divorced   tertiary      no     3810     yes   no
45192   29    management    single   tertiary      no      765      no   no
45193   28          self    single   tertiary      no      159      no   no
45194   59    management   married   tertiary      no      138     yes  yes
45195   68       retired   married  secondary      no     1146      no   no
45196   25       student    single  secondary      no      358      no   no
45197   36    management    single  secondary      no     1511     yes   no
45198   37    management   married   tertiary      no     1428      no   no
45199   34          blue    single  secondary      no     1475     yes   no
45200   38    technician   married  secondary      no      557     yes   no
45201   53    management   married   tertiary      no      583      no   no
45202   34         admin    single  secondary      no      557      no   no
45203   23       student    single   tertiary      no      113      no   no
45204   73       retired   married  secondary      no     2850      no   no
45205   25    technician    single  secondary      no      505      no  yes
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57          blue   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

       riskclassification
0                     6.0
1                     6.0
2                     5.0
3                     5.0
4                     5.0
5                     6.0
6                     7.0
7                     6.0
8                     5.0
9                     6.0
10                    6.0
11                    6.0
12                    5.0
13                    5.0
14                    6.0
15                    5.0
16                    5.0
17                    5.0
18                    5.0
19                    6.0
20                    5.0
21                    6.0
22                    5.0
23                    7.0
24                    5.0
25                    5.0
26                    7.0
27                    5.0
28                    6.0
29                    6.0
...                   ...
45181                 5.0
45182                 5.0
45183                 4.0
45184                 4.0
45185                 6.0
45186                 4.0
45187                 6.0
45188                 6.0
45189                 6.0
45190                 5.0
45191                 5.0
45192                 6.0
45193                 6.0
45194                 6.0
45195                 4.0
45196                 6.0
45197                 6.0
45198                 6.0
45199                 6.0
45200                 6.0
45201                 6.0
45202                 6.0
45203                 6.0
45204                 4.0
45205                 5.0
45206                 5.0
45207                 4.0
45208                 4.0
45209                 5.0
45210                 5.0

[45211 rows x 9 columns]

In [6]:
def updatebalance(x):
    x = x*100
    return float(x)
def balance(x):
    if x < 1 :
        return 0
    if x >= 1 and x < 500000 :
        return 1
    if x >= 500000 and x < 1500000 :
        return 2
    if x >= 1500000 and x < 3000000 :
        return 3
    if x >= 3000000 and x < 5000000 :
        return 4
    if x >= 5000000 and x < 10000000 :
        return 5
    if x >= 10000000 and x < 15000000 :
        return 6
    if x >= 15000000 and x < 50000000 :
        return 7
    if x >=50000000 :
        return 8
def age(x):
    if x < 19 :
        return 0
    if x >= 19 and x < 26 :
        return 1
    if x >= 26 and x < 35 :
        return 2
    if x >= 35 and x < 50 :
        return 3
    if x >= 50 and x < 60 :
        return 4
    if x >= 60 and x < 75 :
        return 5
    if x >= 75 :
        return 6
def job(x):
    if x == 'management':
        return 1
    if x == 'technician':
        return 1
    if x == 'entrepreneur':
        return 4
    if x == 'blue':
        return 5
    if x == 'unknown':
        return 0
    if x == 'retired':
        return 3
    if x == 'admin':
        return 1
    if x == 'services':
        return 1
    if x == 'self':
        return 4
    if x == 'unemployed':
        return 2
    if x == 'housemaid':
        return 5
    if x == 'student':
        return 2
def marital(x):
    if x == 'married':
        return 0
    if x == 'single':
        return 1
    if x == 'divorced':
        return 2
def education(x):
    if x == 'tertiary':
        return 0
    if x == 'secondary':
        return 1
    if x == 'unknown':
        return 2
    if x == 'primary':
        return 3
def default(x):
    if x == 'yes':
        return 0
    if x == 'no':
        return 1
def housing(x):
    if x == 'yes':
        return 0
    if x == 'no':
        return 1
def loan(x):
    if x == 'yes':
        return 0
    if x == 'no':
        return 1

In [7]:
df=data
df.loan=df.loan.apply(loan)
df.balance=df.balance.apply(updatebalance)
df.balance=df.balance.apply(balance)
df.housing=df.housing.apply(housing)
df.default=df.default.apply(default)
df.education=df.education.apply(education)
df.marital=df.marital.apply(marital)
df.age=df.age.apply(age)
df.job=df.job.apply(job)
df

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,age,job,marital,education,default,balance,housing,loan,riskclassification
0,4,1,0,0,1,1,0,1,6.0
1,3,1,1,1,1,1,0,1,6.0
2,2,4,0,1,1,1,0,0,5.0
3,3,5,0,2,1,1,0,1,5.0
4,2,0,1,2,1,1,1,1,5.0
5,3,1,0,0,1,1,0,1,6.0
6,2,1,1,0,1,1,0,0,7.0
7,3,4,2,0,0,1,0,1,6.0
8,4,3,0,3,1,1,0,1,5.0
9,3,1,1,1,1,1,0,1,6.0
10,3,1,2,1,1,1,0,1,6.0
11,2,1,1,1,1,1,0,1,6.0
12,4,1,0,1,1,1,0,1,5.0
13,4,1,0,2,1,1,0,1,5.0
14,4,1,0,1,1,1,0,1,6.0
15,4,3,0,3,1,1,0,1,5.0
16,3,1,1,2,1,1,0,1,5.0
17,4,5,0,3,1,1,0,1,5.0
18,5,3,0,3,1,1,0,1,5.0
19,2,1,0,1,1,0,0,1,6.0
20,2,5,0,1,1,1,0,0,5.0
21,4,1,0,0,1,1,0,1,6.0
22,2,5,1,3,1,1,0,0,5.0
23,1,1,0,1,1,1,0,1,7.0
24,3,3,0,3,1,0,0,0,5.0
25,3,1,0,1,1,0,0,1,5.0
26,3,1,1,0,1,1,0,1,7.0
27,4,4,0,1,1,1,0,0,5.0
28,3,1,1,1,1,0,0,1,6.0
29,3,1,1,1,1,1,0,0,6.0
...,...,...,...,...,...,...,...,...,...
45181,3,5,0,1,1,2,1,1,5.0
45182,2,1,0,1,1,1,1,1,5.0
45183,5,3,0,3,1,1,1,1,4.0
45184,5,3,0,1,1,1,1,1,4.0
45185,5,1,0,0,1,1,0,1,6.0
45186,4,0,0,2,1,1,1,1,4.0
45187,2,1,1,1,1,1,0,1,6.0
45188,2,1,1,1,1,1,0,1,6.0
45189,1,1,1,1,1,1,1,1,6.0
45190,2,5,0,1,1,1,1,1,5.0
45191,6,3,2,0,1,1,0,1,5.0
45192,2,1,1,0,1,1,1,1,6.0
45193,2,4,1,0,1,1,1,1,6.0
45194,4,1,0,0,1,1,0,0,6.0
45195,5,3,0,1,1,1,1,1,4.0
45196,1,2,1,1,1,1,1,1,6.0
45197,3,1,1,1,1,1,0,1,6.0
45198,3,1,0,0,1,1,1,1,6.0
45199,2,5,1,1,1,1,0,1,6.0
45200,3,1,0,1,1,1,0,1,6.0
45201,4,1,0,0,1,1,1,1,6.0
45202,2,1,1,1,1,1,1,1,6.0
45203,1,2,1,0,1,1,1,1,6.0
45204,5,3,0,1,1,1,1,1,4.0
45205,1,1,1,1,1,1,1,0,5.0
45206,4,1,0,0,1,1,1,1,5.0
45207,5,3,2,3,1,1,1,1,4.0
45208,5,3,0,1,1,2,1,1,4.0
45209,4,5,0,1,1,1,1,1,5.0
45210,3,4,0,1,1,1,1,1,5.0

In [41]:
x=df[['age', 'job','marital','education','default','balance','housing','loan']]
train_x,test_x,train_y,test_y=train_test_split(x,df['riskclassification'],train_size=0.8, test_size=0.2)

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
def train_model(classifier,feature,label,feature_valid,label_valid):
    classifier.fit(feature,label)
    predictions=classifier.predict(feature_valid)
    return metrics.accuracy_score(predictions,label_valid)

In [44]:
accuracy=train_model(RandomForestClassifier(),train_x,train_y,test_x,test_y)

In [45]:
accuracy

0.8421983854915405

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
train_model(LogisticRegression(),train_x,train_y,test_x,test_y)

0.7674444321574698

In [53]:
from sklearn import svm

In [54]:
train_model(svm.SVC(),train_x,train_y,test_x,test_y)

0.8368904124737366

In [55]:
from sklearn.naive_bayes import GaussianNB
train_model(GaussianNB(),train_x,train_y,test_x,test_y)

0.6203693464558222

In [58]:
 from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors()
    
train_model(nbrs,train_x,train_y,test_x,test_y)

AttributeError: 'NearestNeighbors' object has no attribute 'predict'

In [ ]:
#knn..., nueral network,tensorflow